-- Stuff you don't want to land in Github gets configured here.
-- Copy to `credentials.lua` and upload.

SSID = "my-wifi-network"
PASSWORD = "my-wifi-password"

-- Where your coop lives.
LON = -77.036583
LAT = 38.897392

-- Where your rsyslog host is listening. Note that if you
-- don't have that, your packets will just go the way of
-- the Dodo. Do configure at least a routable address. Note
-- that syslog is readable/text only so `netcast -l` can be
-- your syslog server, super handy for debugging.
RSYSLOG_IP = "192.168.254.254"
